#packeges
node_modules

#app build
dist

#env
*.env

#database
data

#MacOS
.DS_Store

#Config
packege.json
packege-lock.json
tslint.json
tsconfig.json
nodemon.json
nodemon-debug.json
nest-cli.json
docker-compose.yml
dockerfile
.dockerignore
.wakatime-project
*.env
test/jest-e2e.json